@import url('https://fonts.cdnfonts.com/css/curlz');




body {
    background-image: url('/jgoodman-website/tiles/bg-tile-paper.png');
    background-repeat: repeat;
    height: 100vh;
}

h1 {
    font-family: 'Curlz', serif;
    text-decoration: wavy underline;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h2,
.blink-text {
    display: inline-block;
    animation:1s blinker linear infinite;
    -webkit-animation:1s blinker linear infinite;
    -moz-animation:1s blinker linear infinite;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    color: blue;
}

a:hover {
    font-weight: 600;
    text-decoration: wavy underline;
    text-decoration-thickness: 2px;
}

a:visited {
    color: purple;
}

.nav,
.nav th,
.nav td {
    border: 1px solid black;
    font-size: 24px;
}

.nav p {
    margin: 0;
    padding: 0;
}

.blog-post table,
.blog-post th,
.blog-post td {
    border: 1px solid black;
}

.blog-post blockquote {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid black;
    font-style: italic;
}

.blog-post blockquote:before {
    border-left: 2px solid blue;
}

.hit-counter {
    background-color: black;
    color: lime;
}

/* .gallery-photo {
    border: 8px solid white;
} */

.subtitle {
    font-weight: bold;
    font-style: italic;
    color: red;
}



@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
 }