---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "CV";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1>Curriculum Vitae</h1>
    <p>Curriculum Vitae</p>
  </main>
</BaseLayout>