---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Home"
---

<BaseLayout pageTitle={pageTitle}>

	<div>
		<h2 class="blink-text">Welcome to my website!</h2>
	</div>
	<p>Current students, check <a href="/jgoodman-website/blog">Blog</a> for announcements.</p>
	<p>Check <a href="/jgoodman-website/teaching">Teaching</a> for links to the course website and other resources.</p>
	<p>You can browse the blog quicker by filtering by <a href="/jgoodman-website/tags">Tags</a> or by <a href="/jgoodman-website/category">Category</a>.</p>
	<p>Or you can use the search bar to find what you're looking for.</p>
	<p><a href="/jgoodman-website/publications">Publications</a> and <a href="/jgoodman-website/talks">Talks</a> are...</p>
	<p>I like to take <a href="/jgoodman-website/photography">photos</a> too.</p>

</BaseLayout>






