---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Publications";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1>Publications</h1>
    <p>Writings</p>
  </main>
</BaseLayout>