---
import BaseLayout from '../layouts/BaseLayout.astro';
import UnderConstruction from '../components/UnderConstruction.astro';

const pageTitle = "Publications";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <UnderConstruction></UnderConstruction>
  </main>
</BaseLayout>