---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Talks";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h1>Talks</h1>
    <p>Things I've Talked About</p>
  </main>
</BaseLayout>