---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Teaching";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <h2>This Semester</h2>
    <ul>
      <li>This</li>
      <li>This</li>
      <li>This</li>
    </ul>
    <h2>Past Semester</h2>
    <ul>
      <li>This</li>
      <li>This</li>
      <li>This</li>
    </ul>
  </main>
</BaseLayout>