<!-- 88px x 31px "buttons" from 90's websites -->
<table>
  <tr>
    <td>
      <img src="/jgoodman-website/buttons/aim.gif" alt="AOL instant messenger">
    </td>
  </tr>
  <tr>
    <td>
      <img src="/jgoodman-website/buttons/geocities.gif" alt="geocities">
    </td>
  </tr>
  <tr>
    <td>
      <img src="/jgoodman-website/buttons/internet-explorer.gif" alt="internet explorer">
    </td>
  </tr>
  <tr>
    <td>
      <img src="/jgoodman-website/buttons/microsoft.gif" alt="microsoft">
    </td>
  </tr>
  <tr>
    <td>
      <img src="/jgoodman-website/buttons/office-97.gif" alt="microsoft office 97">
    </td>
  </tr>
  <tr>
    <td>
      <img src="/jgoodman-website/buttons/quicktime.gif" alt="quicktime">
    </td>
  </tr>
  <tr>
    <td>
      <img src="/jgoodman-website/buttons/real-player.gif" alt="real player">
    </td>
  </tr>
  <tr>
    <td>
      <img src="/jgoodman-website/buttons/yahoo-mail.gif" alt="yahoo mail">
    </td>
  </tr>
</table>
