<header>
  <img src="/jgoodman-website/logo.gif" alt="joshua goodman logo">
  <marquee class="subtitle" behavior="alternate">Assistant Professor, Clinical Informaticist, MSN, RN-BC</marquee>
  <table class="nav">
    <tr>
      <td><a href="/jgoodman-website/">Home</a></td>
      <td><a href="/jgoodman-website/about/">About</a></td>
      <td><a href="/jgoodman-website/blog/">Blog</a></td>
      <td><a href="/jgoodman-website/tags/">Tags</a></td>
      <td><a href="/jgoodman-website/category/">Category</a></td>
      <td><a href="/jgoodman-website/teaching">Teaching</a></td>
      <td><a href="/jgoodman-website/publications">Publications</a></td>
      <td><a href="/jgoodman-website/talks">Talks</a></td>
      <td><a href="/jgoodman-website/cv">CV</a></td>
      <td><a href="/jgoodman-website/photography">Photography</a></td>
    </tr>
  </table>
</header>