---
import Search from "astro-pagefind/components/Search";
---
<header>
  <ul>
    <li><a href="/jgoodman-website/">Home</a></li>
    <li><a href="/jgoodman-website/about">About</a></li>
    <li><a href="/jgoodman-website/blog">Blog</a></li>
    <li><a href="/jgoodman-website/tags">Tags</a></li>
    <li><a href="/jgoodman-website/category">Category</a></li>
    <li><a href="/jgoodman-website/teaching">Teaching</a></li>
    <li><a href="/jgoodman-website/publications">Publications</a></li>
    <li><a href="/jgoodman-website/talks">Talks</a></li>
    <li><a href="/jgoodman-website/cv">CV</a></li>
    <li><a href="/jgoodman-website/photography">Photography</a></li>
  </ul>
  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
</header>