---
import OptionSelect from "./OptionSelect.astro";
import Search from "astro-pagefind/components/Search";
---

<header>
  <img src="/jgoodman-website/logo.gif" alt="joshua goodman logo">
  <marquee class="subtitle" behavior="alternate">Assistant Professor, Clinical Informaticist, MSN, RN-BC</marquee>
  <table class="nav">
    <tr>
      <td>
        <a href="/jgoodman-website/">
          <img src="/jgoodman-website/nav/home.gif" alt="home">
          <p>Home</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/about">
          <img src="/jgoodman-website/nav/about.gif" alt="about">
          <p>About</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/blog">
          <img src="/jgoodman-website/nav/blog.gif" alt="blog">
          <p>Blog</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/tags">
          <img src="/jgoodman-website/nav/tags.gif" alt="tags">
          <p>Tags</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/category">
          <img src="/jgoodman-website/nav/category.gif" alt="category">
          <p>Category</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/teaching">
          <img src="/jgoodman-website/nav/teaching.gif" alt="teaching">
          <p>Teaching</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/publications">
          <img src="/jgoodman-website/nav/publications.gif" alt="publications">
          <p>Publications</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/talks">
          <img src="/jgoodman-website/nav/talks.gif" alt="talks">
          <p>Talks</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/cv">
          <img src="/jgoodman-website/nav/resume.gif" alt="resume">
          <p>CV</p>
        </a>
      </td>
      <td>
        <a href="/jgoodman-website/photography">
          <img src="/jgoodman-website/nav/photography.gif" alt="photography">
          <p>Photography</p>
        </a>
      </td>
    </tr>
  </table>
  <Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
  <OptionSelect></OptionSelect>
</header>