<!-- fake hit counter -->
<div>
  <span class="hit-counter">0</span>
  <span class="hit-counter">0</span>
  <span class="hit-counter">0</span>
  <span class="hit-counter">0</span>
  <span class="hit-counter">0</span>
  <span class="hit-counter">0</span>
  <span class="hit-counter">1</span>
  <p>You are the 1th visitor to this site</p>
</div>