<!-- options for selecting background image -->
<table class="option-select">
	<tr>
		<td>
			<p>Background Image</p>
		</td>
		<td>
			<select id="bg-select">
				<option value="paper" selected>Paper</option>
				<option value="wood-1">Wood 1</option>
				<option value="wood-2">Wood 2</option>
				<option value="metal">Metal</option>
				<option value="brick">Brick</option>
				<option value="pipes">Pipes</option>
				<option value="snow-leopard">Snow Leopard</option>
				<option value="none">None</option>
			</select>
		</td>
		<!-- options for selecting cursor effect -->
		<td>
			<p>Cursor Effect</p>
		</td>
		<td>
			<select id="cursor-select">
				<option value="ghost" selected>Ghost</option>
				<option value="rainbow">Rainbow</option>
				<option value="fairy-dust">Fairy Dust</option>
				<option value="text-flag">Text Flag</option>
				<option value="trailing">Trailing</option>
				<option value="emoji-elastic">Emoji Elastic</option>
				<option value="emoji-rain">Emoji Rain</option>
				<option value="bubbles">Bubbles</option>
				<option value="snowflakes">Snowflakes</option>
				<option value="off">Off</option>
			</select>
		</td>
	</tr>
</table>


