---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <article class="blog-post" data-pagefind-body>
  <p>{frontmatter.publishDate.toString().slice(0,10)}</p>
  <p><em>{frontmatter.description}</em></p>
    <slot />
  </article>
</BaseLayout>